@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;

}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
}

.image-container{
  width: calc(29.33% - 20px); /* Adjust the width and margin as needed */
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image-container img{
  width: 100%;
  height: 75%;
  border-radius: 8px; /* Same as gallery item for rounded corners */
  transition: transform 0.3s ease-in-out;
}

.image-container:hover img{
  transform: scale(1.1);
}

.image-description{
  display: flex;
  flex-direction: row;
  
  align-items: center;
  margin: 5px;
}

.image-description p {
  
  color: #0f0f0f;
  text-align: center;
  font-size: smaller;
 margin:10px 5px;
 
  
  
}

.image-description button{
  margin:  10px ;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
}

header nav{
  background-color: #333;
  color: #fff;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}







@media screen and (max-width: 768px) {
  .image-container {
    width: calc(100% - 20px);
  }
}



