@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;

}


.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
}

.image-container{
  width: calc(29.33% - 20px); /* Adjust the width and margin as needed */
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image-container img{
  width: 100%;
  height: 75%;
  border-radius: 8px; /* Same as gallery item for rounded corners */
  transition: transform 0.3s ease-in-out;
}

.image-container:hover img{
  transform: scale(1.1);
}

.image-description{
  display: flex;
  flex-direction: row;
  
  align-items: center;
  margin: 5px;
}

.image-description p {
  
  color: #0f0f0f;
  text-align: center;
  font-size: smaller;
 margin:10px 5px;
 
  
  
}

.image-description button{
  margin:  10px ;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
}

header nav{
  background-color: #333;
  color: #fff;
  padding: 15px;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav h3{
  font-size: 25px;
  font-weight:35px;
  text-align: center;
}

header nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

}
header nav ul li{
  list-style: none;
 
}
header nav ul li a{
  text-decoration: none;
  color: #fff;
  
  margin: 0 15px;
  font-size: 16px;
}

header nav a{
  text-decoration: none;
  color: #fff;
  
  margin-right: 15px;
  font-size: 16px;
}

header nav ul li a.active {
  border-bottom: 2px solid #fff;
}


#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#modalContent {
  text-align: center;
}

#closeModalBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#openModalBtn {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}


.favorite-item{
  width: calc(29.33% - 20px); /* Adjust the width and margin as needed */
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.favorite-item .favorite-image{
  width: 100%;
  height: 75%;
  border-radius: 8px; /* Same as gallery item for rounded corners */
  transition: transform 0.3s ease-in-out;
}

.favorite-item:hover .favorite-image{
  transform: scale(1.1);
}













@media screen and (max-width: 768px) {
  .image-container {
    width: calc(100% - 20px);
  }
}



